In [1]:
import pandas as pd

In [2]:
#abrindo o arquivo e separando as colunas 
df = pd.read_csv('DB_teste.csv', delimiter=';', encoding='UTF-8')

In [3]:
df.head()

,Cliente,ID,Tipo,Data da Venda,Categoria,Vendedor,Regional,Duração do Contrato (Meses),Equipe,Valor
0,Cliente 1,2017-0022,Serviços,02/01/2018,Novo Logo,Vendedor 1,Brasil,1,Time 1,"R$ 24.800,00"
1,Cliente 10,2018-0088,Serviços,14/02/2018,Novo Logo,Vendedor 1,Brasil,6,Time 1,"R$ 302.720,00"
2,Cliente 10,2018-0104,Serviços,13/03/2018,Upselling,Vendedor 1,Brasil,1,Time 1,"R$ 51.894,86"
3,Cliente 10,2018-0168,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86"
4,Cliente 10,2018-0169,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86"

In [4]:
#Construa uma tabela auxiliar que sumarize o valor vendido por cada vendedor, ordenando do maior para o menor;
df['Valor_Formatado'] = df['Valor'].str.split(' ', expand=True)[1]
df.head()

,Cliente,ID,Tipo,Data da Venda,Categoria,Vendedor,Regional,Duração do Contrato (Meses),Equipe,Valor,Valor_Formatado
0,Cliente 1,2017-0022,Serviços,02/01/2018,Novo Logo,Vendedor 1,Brasil,1,Time 1,"R$ 24.800,00","24.800,00"
1,Cliente 10,2018-0088,Serviços,14/02/2018,Novo Logo,Vendedor 1,Brasil,6,Time 1,"R$ 302.720,00","302.720,00"
2,Cliente 10,2018-0104,Serviços,13/03/2018,Upselling,Vendedor 1,Brasil,1,Time 1,"R$ 51.894,86","51.894,86"
3,Cliente 10,2018-0168,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86","51.894,86"
4,Cliente 10,2018-0169,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86","51.894,86"

In [5]:
df['Valor_Formatado'] = df.Valor_Formatado.str.replace('.', '', regex=False)
df['Valor_Formatado'] = df.Valor_Formatado.str.replace(',', '.', regex=False)
df.head()

,Cliente,ID,Tipo,Data da Venda,Categoria,Vendedor,Regional,Duração do Contrato (Meses),Equipe,Valor,Valor_Formatado
0,Cliente 1,2017-0022,Serviços,02/01/2018,Novo Logo,Vendedor 1,Brasil,1,Time 1,"R$ 24.800,00",24800.00
1,Cliente 10,2018-0088,Serviços,14/02/2018,Novo Logo,Vendedor 1,Brasil,6,Time 1,"R$ 302.720,00",302720.00
2,Cliente 10,2018-0104,Serviços,13/03/2018,Upselling,Vendedor 1,Brasil,1,Time 1,"R$ 51.894,86",51894.86
3,Cliente 10,2018-0168,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86",51894.86
4,Cliente 10,2018-0169,Serviços,30/04/2018,Upselling,Vendedor 1,Brasil,2,Time 1,"R$ 51.894,86",51894.86

In [6]:
#convertendo str em float
df['Valor_Formatado'] = df['Valor_Formatado'].astype(float)

In [7]:
#agrupando os dados 
df2 = df.copy()
df2 = df2.groupby(['Vendedor'])['Valor_Formatado'].sum().reset_index()
df2 = df2.sort_values(by='Valor_Formatado', ascending=False)

In [8]:
#tabela: valor vendido por cada vendedor - ordenado do maior para o menor valor
print(df2)

       Vendedor  Valor_Formatado
22   Vendedor 3     1.662205e+08
27   Vendedor 7     5.779918e+07
1   Vendedor 10     5.221206e+07
28   Vendedor 8     4.727451e+07
0    Vendedor 1     3.092948e+07
29   Vendedor 9     2.637456e+07
4   Vendedor 13     2.483730e+07
9   Vendedor 18     2.266230e+07
21  Vendedor 29     1.907687e+07
24   Vendedor 4     1.734682e+07
5   Vendedor 14     7.558042e+06
12  Vendedor 20     7.520907e+06
10  Vendedor 19     6.513184e+06
11   Vendedor 2     5.673761e+06
7   Vendedor 16     4.879238e+06
26   Vendedor 6     3.548887e+06
20  Vendedor 28     3.307138e+06
3   Vendedor 12     3.019669e+06
14  Vendedor 22     2.150000e+06
13  Vendedor 21     1.943240e+06
15  Vendedor 23     1.941880e+06
2   Vendedor 11     1.221787e+06
8   Vendedor 17     1.133803e+06
25   Vendedor 5     9.139000e+05
16  Vendedor 24     5.839700e+05
23  Vendedor 30     5.154468e+05
19  Vendedor 27     4.200000e+05
18  Vendedor 26     3.840000e+05
6   Vendedor 15     8.650461e+04
17  Vendedor 25     4.053200e+04

In [9]:
#Imprima e identifique qual foi o cliente responsável pela venda com maior valor e com menor valor;
df3 = df.copy()
df3.drop(["ID","Tipo", "Data da Venda", "Categoria", "Vendedor", "Regional", "Duração do Contrato (Meses)", "Equipe", "Valor"], axis=1, inplace=True)

In [10]:
#Tabela Cliente x Valor_Formatado
print(df3)

        Cliente  Valor_Formatado
0     Cliente 1         24800.00
1    Cliente 10        302720.00
2    Cliente 10         51894.86
3    Cliente 10         51894.86
4    Cliente 10         51894.86
..          ...              ...
848  Cliente 96        273000.00
849  Cliente 96        120964.32
850  Cliente 97        281880.00
851  Cliente 98        720000.00
852  Cliente 99        296498.85

[853 rows x 2 columns]

In [11]:
#Valor máximo
print("Cliente responsável pela venda com maior valor: ")
print(df3[df.Valor_Formatado == df.Valor_Formatado.max()])

Cliente responsável pela venda com maior valor:
        Cliente  Valor_Formatado
810  Cliente 89       24970500.0

In [12]:
#Valor mínimo
print("Cliente responsável pela venda com menor valor: ")
print(df3[df.Valor_Formatado == df.Valor_Formatado.min()])

Cliente responsável pela venda com menor valor:
        Cliente  Valor_Formatado
86  Cliente 120           1250.0

In [13]:
#Imprima valor médio por Tipo de venda (Serviços, Licenciamento, Produtos)
df4 = df.copy()
df4.drop(["Cliente","ID", "Data da Venda", "Categoria", "Vendedor", "Regional", "Duração do Contrato (Meses)", "Equipe", "Valor"], axis=1, inplace=True)
print(df4)

              Tipo  Valor_Formatado
0         Serviços         24800.00
1         Serviços        302720.00
2         Serviços         51894.86
3         Serviços         51894.86
4         Serviços         51894.86
..             ...              ...
848       Serviços        273000.00
849       Produtos        120964.32
850       Produtos        281880.00
851       Produtos        720000.00
852  Licenciamento        296498.85

[853 rows x 2 columns]

In [14]:
df5 = df4.copy()
df5 = df5.groupby(['Tipo'])['Valor_Formatado'].mean().reset_index()

In [15]:
print(df5)

            Tipo  Valor_Formatado
0  Licenciamento    983448.768963
1       Produtos    893409.190065
2       Serviços    314567.937298

In [16]:
#Imprima o número de vendas realizada por cliente
df6 = df.copy()
df6.drop(["ID","Tipo", "Data da Venda", "Categoria", "Vendedor", "Regional", "Duração do Contrato (Meses)", "Equipe", "Valor","Valor_Formatado"], axis=1, inplace=True)
print(df6)

        Cliente
0     Cliente 1
1    Cliente 10
2    Cliente 10
3    Cliente 10
4    Cliente 10
..          ...
848  Cliente 96
849  Cliente 96
850  Cliente 97
851  Cliente 98
852  Cliente 99

[853 rows x 1 columns]

In [17]:
#contagem em cada grupo
print("Cliente x número de vendas")
print(df6.groupby('Cliente').value_counts())

Cliente x número de vendas
Cliente
Cliente 1       1
Cliente 10     43
Cliente 100     1
Cliente 101     2
Cliente 102     1
               ..
Cliente 95      1
Cliente 96      4
Cliente 97      1
Cliente 98      1
Cliente 99      1
Length: 157, dtype: int64